/* Components
------------------------------------------------------------*/

.c-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--app-height);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-transform: uppercase;
}

.c-title {
  font-family: var(--swiss-fonts);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 1px;
  text-transform: uppercase;

  @include maxW {
    font-size: 1.5rem;
  }
}

.c-inner {
  position: relative;
  width: 48.611vw;
  margin: 0 auto;
  padding: 250px 0 0;

  @include maxW {
    width: 100%;
    padding: 150px 60px 0;
  }
}

.c-picture {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  padding-bottom: 100%;
  background: var(--main-bg-cl);
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
  }
}

.c-card {
  position: relative;
  width: 100%;
  height: auto;
  pointer-events: auto;

  &:hover {
    img {
      // transform: scale(1.01);
    }
  }

  .c-picture {
    img {
      transition: transform 0.5s ease,
        opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
  }
}
