/* -------------------------------------------------------------------------- */
/*                                 about page                                 */
/* -------------------------------------------------------------------------- */

.aboutpage {
  // ===== about =====
  .about {
    &_container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
    }

    &_inner {
      padding: 80px 0;
      height: 100%;
      max-height: 100%;
      overflow-y: auto;

      width: 69.444vw;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: min(6.944vw, 100px);
    }

    &_left {
      .c-picture {
        img {
          border-radius: 10px;
        }
      }
    }

    &_content {
      p {
        font-size: 1.4rem;
        line-height: 1.7;
        text-transform: uppercase;

        a {
          text-decoration: underline;
        }
      }
    }

    @include maxW {
      &_container {
        position: unset;
        height: auto;
      }

      &_inner {
        padding: 130px 60px 30px;
        width: 100%;
        grid-template-columns: 1fr;
        gap: 60px;
      }

      &_content {
        text-align: center;

        p {
          font-size: 1.2rem;
          letter-spacing: 0.24px;
          line-height: 1.6;
        }
      }
    }
  }
}
