/* -------------------------------------------------------------------------- */
/*                                product page                                */
/* -------------------------------------------------------------------------- */

.productpage {
  // ===== product =====
  .product {
    &_container {
      padding: 200px 0 0;

      @include maxW {
        padding: 0;
      }
    }

    &_detail {
      position: relative;
      width: 69.444vw;
      margin: 0 auto;

      &_wrap {
        width: 100%;
        display: grid;
        grid-template-columns: 45% 1fr;
        gap: min(10vw, 100px);
      }

      &_sticky {
        position: sticky;
        top: 200px;
      }

      @include maxW {
        width: 100%;

        &_wrap {
          display: block;
        }

        &_sticky {
          position: initial;
        }

        &_r {
          margin: 80px auto 0;
          padding: 0 60px;
        }
      }
    }

    &_swiper {
      position: relative;
      width: 100%;
      height: 100%;

      &_slide {
        .c-picture {
          img {
            border-radius: 10px;
          }
        }
      }

      &_pagination {
        margin-top: 30px;
        position: initial;
        display: flex;
        gap: 10px;

        span {
          &.swiper-pagination-bullet {
            width: auto;
            height: auto;
            background: none;
            margin: 0;
            opacity: 0.5;

            font-family: var(--swiss-fonts);
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }

          &.swiper-pagination-bullet-active {
            opacity: 1;
          }
        }
      }

      @include maxW {
        height: var(--app-height);

        &_slide {
          .c-picture {
            height: 100%;
            padding-bottom: var(--app-height);

            img {
              width: 100%;
              height: 100%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              border-radius: 0;
            }
          }
        }

        &_pagination {
          margin: initial;
          justify-content: center;
          position: absolute;
          top: auto;
          left: 0;
          right: auto;
          bottom: 20px;
          z-index: 1;

          span {
            &.swiper-pagination-bullet {
              font-size: 1.4rem;
            }
          }
        }
      }
    }

    &_header {
      h2 {
        font-family: var(--swiss-fonts);
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.46;
        letter-spacing: 1.2px;
      }

      p {
        margin-top: 15px;
        font-size: 1.8rem;
      }

      @include maxW {
        text-align: center;

        h2 {
          font-size: 2rem;
        }

        p {
          margin-top: 12px;
          font-size: 1.4rem;
        }
      }
    }

    &_meta {
      width: 202px;
      margin: 35px 0 0;

      button[type="submit"] {
        position: relative;
        width: 100%;
        height: 50px;
        background: var(--main-text-cl);
        color: transparent;
        border-radius: 10px;

        font-family: var(--main-fonts);
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 0.7px;
      }

      button.purchaseButton__btn--addToCart {
        &:after {
          content: "ADD TO CART";
          color: #fcfaf1;
          position: absolute;
          inset: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: translateY(1px);
        }
      }

      @include maxW {
        width: 172px;
        margin: 45px auto 0;

        button[type="submit"] {
          font-size: 1.4rem;
          line-height: 0.5;
        }
      }
    }

    &_info {
      margin-top: 80px;

      h3 {
        font-family: var(--swiss-fonts);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 1px;
      }

      &_content,
      &_guide {
        margin-top: 35px;
        font-family: var(--noto-fonts);
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.86;
        letter-spacing: 0.28px;
      }

      &_guide {
        margin-top: 80px;
      }

      @include maxW {
        margin-top: 100px;

        h3 {
          text-align: center;
          font-size: 1.5rem;
        }

        &_content,
        &_guide {
          font-size: 1.2rem;
          line-height: 1.83;
          letter-spacing: 0.24px;
        }

        &_guide {
          margin-top: 35px;
        }
      }
    }

    &_other {
      position: relative;
      width: 77.083vw;
      margin: 150px auto 0;

      h3 {
        font-family: var(--swiss-fonts);
        font-size: 2.4rem;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
      }

      &_list {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 60px 30px;
      }

      @include maxW {
        width: 100%;
        margin: 100px auto 0;
        padding: 0 45px;

        h3 {
          font-size: 2rem;
        }

        &_list {
          grid-template-columns: repeat(2, 1fr);
          gap: 35px 0;
        }
      }
    }
  }
}
