/* -------------------------------------------------------------------------- */
/*                                product page                                */
/* -------------------------------------------------------------------------- */

.productpage {
  // ===== product =====
  .product {
  }
}
